/* style.css */
body {
    font-family: Arial, Verdanal
}

#board_header {
    display: table;
    color: blue;
    margin: 0 auto;
}

.cell {
    font-size: 15pt;
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

#board {
    display: table;
    margin: 0 auto;
}