/* style.css */

.top-buffer {
    margin-top: 30px
}

#gh {
    max-height: 100%;
    max-width: 100%;
}

.cell {
    font-size: 15pt;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: lightgray;
    border-color: black
}

td {
    padding: 0px;
    margin: 0px;
}